@page
@model PAIlab8.Pages.DefaultModel
@{
}


<!DOCTYPE HTML>
<html>
<body>
    <form method="get" action="/Name">
        <label for="name">Enter name:</label>
        <input type="text" id="name" name="name" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
